.user-management {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 20px;
}

h1,h2, h3 {
    text-align: center; //居中
    color: #333; //字体颜色
    margin-bottom: 20px; //下边距
}

.user-info-wrapper {
    background-color: #fff;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: 5px solid #c2e9fb; /* 增加的边框 */
}

.current-user, .other-users {
    margin-bottom: 30px; //下边距
}

.avatar-container {
    display: flex; //使子元素居中
    justify-content: center; //子元素水平居中
    margin-bottom: 15px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list {
    list-style-type: none; //列表样式
    padding: 0;
    width: 100%;

    flex-wrap: wrap; //子元素换行
}

.user-item {
    display: flex;
    align-items: center;

    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap : 20px;

}

.user-info {
    display: flex;
    align-items: center; //子元素垂直居中
    background-color: #555;
    flex-wrap: wrap; //子元素换行
    flex-direction: column;`
    margin-left: 5px;//左边距
    gap: 1000px;
}

.user-name{
    display: block;
    margin-right: 20px;
    font-size: 1.2em; //字体大小
    color: #555;
    font-weight: bold; //加粗


}
.user-level {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 1.2em;
    color: #555;
}


.btn.btn-danger {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 0px;
}

.btn.btn-danger:hover {
    background-color: #c0392b;
}

.no-delete {
    color: #999;
    font-size: 0.9em;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.no-underline:hover {
    text-decoration: underline;
}



.btn-circle {
    background-color: #f39c12;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 31px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 0px;
    align-items: center;
}
