.container {
    height: 100%;
    display: flex;// 弹性布局
    flex-direction: column; // 垂直排列
    /*align-items: center; // 居中
    justify-content: center;//
    align-items: center;
    height: 100vh; /* 使容器高度为整个视口高度 */

}

.filelist-wrapper {
    background-color: #fff;
    width: 1000px;
    border-radius: 15px;
    padding: 0 50px;
    position: relative;
    left: 0%;
    top: 100px;
    /*transform: translate(-72%, -150%); /* 使元素居中 */
    border: 5px solid #c2e9fb; /* 增加的边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.filelist-header {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px; // 顶部留白
    margin-bottom: 30px;
    text-align: center;// 文字居中

}

.filelist{
    display: flex;
    flex-direction: row;
    align-items: center; // 居中

    justify-content: center; // 居中
    list-style-type: none; //列表样式
    padding: 0;
    width: 100%;


    flex-wrap: wrap;
}

.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap : 20px;
    font-size: 20px;
}


.file-icon {
    margin-right: 10px;
}


form input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* 模态窗口的样式 */
.modal {
    /*display: block ; /*显示*/
    display: none; /* 不显示 */
    position: fixed; /* 固定位置 */
    z-index: 1; /* 层叠顺序 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 如果内容超出窗口，则添加滚动条 */
    background-color: rgb(0,0,0); /* 黑色背景 */
    background-color: rgba(0,0,0,0.4); /* 带透明度的背景 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% 的顶部边距和居中 */
    padding: 20px;
    border: 2px solid #888;
    border-radius: 10px;
    width: 80%; /* 宽度 */
    max-width: 400px;
}

.close, .closeBio {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 上传头像和个人简介按钮的样式 */
#folderBtn{
    background: linear-gradient(135deg, #ff7e5f, #feb47b); /* 渐变背景色 */
    border: none; /* 无边框 */
    color: white; /* 白色文字 */
    padding: 10px 20px; /* 内边距 */
    text-align: center; /* 文字居中 */
    text-decoration: none; /* 去除下划线 */
    display: inline-block; /* 内联块元素 */
    font-size: 16px; /* 字体大小 */
    font-weight: bold; /* 加粗字体 */
    border-radius: 25px; /* 圆角 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    transition: all 0.3s ease; /* 添加过渡效果 */
}

#folderBtn:hover {
    background: linear-gradient(135deg, #feb47b, #ff7e5f); /* 反转渐变色 */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* 鼠标悬停时增加阴影 */
    transform: translateY(-2px); /* 悬停时轻微上移 */
}

