.container {
    height: 100%;
    display: flex;// 弹性布局
    flex-direction: column; // 垂直排列
}

.page-wrapper {
    background-color: #fff;
    opacity: 0.9;
    width: 1400px;
    border-radius: 15px;
    padding: 0 30px;
    position: relative;
    left: 0%;
    top: 100px;
    /*transform: translate(-72%, -150%); /* 使元素居中 */
    border: 5px solid #c2e9fb; /* 增加的边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;*/
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.date {
    display: flex;
    align-items: center;
}

.date i {
    margin-right: 10px;
    color: #007bff; /* 图标颜色 */
}

.current-date {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: transparent;
    width: 500px;

}

.search-input {
    width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.search-button:hover {
    background-color: #F5F5F5;
}

.row-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.row-item{
    width: 25%;
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.upload-link,.homework-link,.score-link,.profile-link,.file-link{
    text-decoration: none;
    color: black;
}

.playground{
    width: 95%;
    height: auto;
    background-color: #fff;
    opacity: 0.95;
    border-radius: 15px;
    padding: 0 30px;
    left: 0%;
    top: 100px;
    border: 5px solid #c2e9fb; /* 增加的边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
 }

.info-display{

    display: flex;
    flex-direction: row;
    align-items: flex-start; // 居中
    justify-content: flex-start; // 居中
    list-style-type: none; //列表样式
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 40px;
 }


.file-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap : 20px;
    font-size: 20px;
    margin-left: 60px;
}


.file-icon {
    font-size: 30px;
    margin-right: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.file{
    font-size: 20px;
    margin-left: 20px;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.user_display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}


.avatar-container {
    text-align: center; // 居中

}

.avatar {
    border-radius: 50%; // 圆角
    width: 60px;
    height: 60px;
    object-fit: cover; // 图片缩放
    border: 2px solid #ccc; // 边框
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;

}

.user-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-btn{
    margin-left: 10px;
    cursor: pointer;
}