{% extends "background.html" %}

{% block content %}
    <title>Login</title>


    <div class="login-wrapper">
        <form method="POST" action="{{ url_for('login') }}">
        <div class="header">Login</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item" required>
            <input type="password" name="password" placeholder="password" class="input-item" required>
<!--            <a href="#">Forgot password?</a>-->
            <button type="submit" class="btn">Login</button>

        </div>
        </form>
        <div class="msg">
            Don't have account?
            <a href="{{ url_for('register') }}">Sign up</a>
        </div>


    </div>




{% endblock %}