{% extends "background.html" %}

{% block content %}
<
    <title>Login</title>


    <div class="login-wrapper">
        <form method="POST" action="{{ url_for('login') }}">
        <div class="header">Login</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item" required>
            <input type="password" name="password" placeholder="password" class="input-item" required>
<!--            <a href="#">Forgot password?</a>-->
            <button type="submit" class="btn">Login</button>

        </div>
        </form>
        <div class="msg">
            Don't have account?
            <button type="button" class="primary-btn"  onclick="window.location.href='{{ url_for('register') }}'">Sign up</button>

        </div>


    </div>


    <style>
        .primary-btn {
            background-color: transparent;
            border-radius: 20px;
            color: black;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 16px;

        }

        .primary-btn:hover {


            background-color: #e0c8d0;
            color: purple; //字体颜色
            border: 1px solid #000; //边框颜色
            transition: all 0.3s ease; //过渡效果
        }

    </style>

{% endblock %}