{% extends "background.html" %}

{% block content %}
    <title>Sign up</title>


    <div class="login-wrapper">
        <form method="POST" action="{{ url_for('register') }}">
        <div class="header">Sign up</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item" required>
            <input type="password" name="password" placeholder="password" class="input-item" required>
            <input type="password" name="confirm_password" placeholder="confirm password" class="input-item" required>

            <button type="submit" class="btn">register</button>

        </div>
        </form>
        <div class="msg">
            Already have an account?
            <button type="button" class="primary-btn"  onclick="window.location.href='{{ url_for('login') }}'">Log in</button>
        </div>

    </div>

    <style>
        .primary-btn {
            background-color: transparent;
            border-radius: 20px;
            color: black;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-size: 16px;

        }

        .primary-btn:hover {


            background-color: #e0c8d0;
            color: purple; //字体颜色
            border: 1px solid #000; //边框颜色
            transition: all 0.3s ease; //过渡效果
        }

    </style>


{% endblock %}