{% extends "background.html" %}

{% block content %}
    <title>Sign up</title>


    <div class="login-wrapper">
        <form method="POST" action="{{ url_for('register') }}">
        <div class="header">Sign up</div>
        <div class="form-wrapper">
            <input type="text" name="username" placeholder="username" class="input-item" required>
            <input type="password" name="password" placeholder="password" class="input-item" required>
            <input type="password" name="confirm_password" placeholder="confirm password" class="input-item" required>

            <button type="submit" class="btn">register</button>

        </div>
        </form>
        <div class="msg">
            Already have an account?
            <a href="{{ url_for('login') }}">Sign in</a>
        </div>

    </div>


{% endblock %}