{% extends "background.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
<body>
    <div class="container">
        <div class="search-wrapper">
            <h1>搜索</h1>
            <form method="POST">
                <label for="search_type">搜索类型:</label>
                <select name="search_type" id="search_type">
                    <option value="user">用户</option>
                    <option value="file">文件</option>
                </select>
                <br>
                <label for="query">搜索内容:</label>
                <input type="text" name="query" id="query" required>
                <br>
                <input type="submit" value="搜索">

            </form>

            {% if results %}
            <h3>搜索结果</h3>
            <ul>
                {% for result in results %}
                    {% if s_type == "file" %}
                    <li><a href="{{ url_for('download', file_id=result.id) }}">{{ result.filename }}</a></li>
                    {% elif s_type == "user" %}
                    <li><a href="{{ url_for('profile', user_id=result.id) }}">{{ result.username }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

            </div>

    </div>
</body>
{% endif %}
{% endblock %}
