{% extends "background.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='filelist.css') }}">

<title>User Files</title>

<body>
    <div class="container">
        <div class="filelist-wrapper">
            <div class="filelist-header">
                <h1>User Files</h1>
            </div>
            <ul class="filelist">
                {{ files |safe }}
            </ul>

        </div>

    </div>

    <div id="uploadFileModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>上传文件</h2>
            <br>

            <form id="folderForm" method="POST" action="{{ url_for('upload') }}">
                <input type="hidden" name="action" value="upload">
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}">
                <input type="file" name="file" required>
                <br>
                <br>
                <input type="submit" value="上传">

            </form>
        </div>
    </div>

    {{script |safe}}
<!--    <script src="{{ url_for('static', filename='file_modal.js') }}"></script>-->
<!--<script>-->
<!--document.getElementById('folderForm').addEventListener('submit', function(event) {-->
<!--    event.preventDefault(); // 阻止表单默认提交行为-->
<!---->
<!--    const form = event.target;-->
<!--    const action = form.action.value;-->

<!--    if (action === 'upload') {-->

<!--        form.submit(); // 提交表单-->
<!--    }else if (action === 'new_folder') {-->
<!--        const newName = prompt('请输入新的文件夹名称:');-->
<!--        if (newName) {-->
<!--            form.folder_name.value = newName;-->
<!--            form.submit(); // 提交表单-->
<!--        }-->
<!--    }-->
<!--});-->
<!--</script>-->

</body>
{% endblock %}