.container {
    height: 100%;
}


.user-info-wrapper {
    background-color: #fff;
    opacity: 0.9;
    width: 1000px;
    border-radius: 15px;
    padding: 0 30px;
    position: absolute;
    left: 250px;
    top: 100px;
    border: 5px solid #c2e9fb; /* 增加的边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-top: -40px;
    margin_bottom: 20px;
    line-height: 200px;
}

.current-user, .other-users {
    margin-bottom: 30px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list {
    list-style-type: none;
    padding: 0;
    width: 100%;


}

.user-item {
    display: flex;
    align-items: center;

    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}

.user-info {
    display: flex;
    align-items: center;
/*    background-color: #555;*/
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 5px;
}

.user-name{
    display: block;
    margin-right: 20px;
    font-size: 1.2em;
    color: #555;
    font-weight: bold;
    margin-left: 30px;

}
.user-level {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    font-size: 1.2em;
    color: #555;
}


.btn.btn-danger {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 0px;
}

.btn.btn-danger:hover {
    background-color: #c0392b;
}

.no-delete {
    color: #999;
    font-size: 0.9em;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.no-underline:hover {
    text-decoration: underline;
}



.btn-circle {
    background-color: #f39c12;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 31px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 0px;
    align-items: center;
}
