* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

.input-item {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}

.input-item:placeholder {
    text-transform: uppercase;
}

.btn {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 40px;
    background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    color: #fff;
    font-size: 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

}
.btn:hover {
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.messages {
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: auto;
    max-width: 300px;
    z-index: 1000;
}

.messages ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.messages li:last-child {
    margin-bottom: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#nav {
    position: fixed;
    top: 0;
    border: none;
    list-style: none;
    background: #f5f5f5;
    padding: 0px;
    opacity: 0.85;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

#nav li a {
    position: relative;
    padding: 15px 50px;
    font: 500 20px '优设标题黑';
    border: none;
    outline: none;
    color: rgb(70, 100, 180);
    display: inline-block;
    text-decoration: none;
    z-index: 31000;
    transition: all 0.3s ease;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slide1,
.slide2 {
    position: absolute;
    display: inline-block;
    height: 50px;
    border-radius: 2em;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
    background-color: rgb(170, 190, 255);
    z-index: 2;
}

.slide2 {
    opacity: 0;
    background-color: rgba(170, 190, 255, .5);
    z-index: 1;
    box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
    transform: scale(0.9);
}