{% extends "background.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<body>

    <div class="container">
        <div class="content-wrapper">
            <div class="header">
                <h1 class="welcome-message">Welcome Pythoner!</h1>
            </div>

           <div class="button-wrapper">
<!--                <div class="arrow right-arrow"></div>-->
                <button class="start-button">
                    <a href="login-register">Start</a>
                </button>
<!--                <div class="arrow left-arrow"></div>-->

            </div>

        </div>
    </div>


</body>


{% endblock %}
