{% extends "background.html" %}

{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='post_detail.css')}}">
<div class="container">
    <div class="post-wrapper">
        <div class="post-item">
            <div class="post-author">
                <div class="post-avatar">
                    <img src="{{url_for('static', filename=author.avatar)}}" alt="头像" class="avatar">
                </div>
                <div class="post-author-name">
                    {{ author.username }}
                </div>
            </div>

            <div class="post-header">
                <div class="post-title">
                    {{ post.title }}
                </div>
                <div class="post-content">
                    <p>{{ post.content }}</p>
                </div>
            </div>
        </div>
        <div class="post-comments">
            <div class="post-comment-title">
                <p>评论</p>
                <form id="comment-form" action="{{ url_for('post_detail', post_id=post.id) }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <textarea name="content" rows="4" placeholder="轻轻敲醒沉睡的心灵，让我看看你的想法..." required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" name="attachment" accept="*/*" >
                    </div>
                    <div class="form-group">
                        <button type="submit">提交评论</button>
                    </div>
                </form>
                <br>

            </div>
            {% for comment_id, (owner, comment) in comments %}
            <div class="post-comment">

                <div class="post-comment-author">
                    <div class="post-comment-avatar">
                        <img src="{{url_for('static', filename=author.avatar)}}" alt="头像" class="comment-avatar">
                    </div>

                    <div class="post-comment-author-name">
                        {{owner.username }}
                    </div>

                </div>
                <div class="post-comment-content">
                    {{ comment.content }}
                </div>


            </div>

            {% endfor %}
        </div>
    </div>
</div>

{%endblock%}