{% extends "background.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='revise_info.css') }}">
<body>
    <div class="profile-container">

        <div class="profile_wrapper">

            <div class="profile-header">
                <h1>修改个人信息</h1>
            </div>


            <form method="POST" action="{{ url_for('profile', user_id=user.id) }}">
                <div class="form-group">
                    <label for="username">用户名:</label>
                    <input type="text" name="username" id="username" value="{{ user.username }}" required>
                </div>

                <div class="form-group">
                    <label for="real_name">真实姓名:</label>
                    <input type="text" name="real_name" id="real_name" value="{{ user.real_name or '' }}">
                </div>

                <div class="form-group">
                    <label for="real_name">学号:</label>
                    <input type="text" name="student_id" id="student_id" value="{{ user.student_id or '' }}">
                </div>

                <div class="form-group">
                    <label for="email">邮箱:</label>
                        <input type="email" name="email" id="email" value="{{ user.email or '' }}">
                </div>

                <div class="form-group">
                    <label for="phone">手机号:</label>
                    <input type="text" name="phone" id="phone" value="{{ user.phone or '' }}">
                </div>
                <input type="submit" value="保存更改">
            </form>

        </div>

    </div>
</body>
{% endblock %}
