{% extends "background.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filelist.css') }}">

<title>User Files</title>

<body>
    <div class="container">
        <div class="filelist-wrapper">
            <div class="filelist-header">
                <h1>User Files</h1>
            </div>

<!--            <p>{{ current_folder.name }}</p>-->
            <ul class="filelist">
                <li id="parent-folder-button">
<!--                <span class='folderButtonList'>-->
<!--                    <span class='file-icon'>-->
                    <form method="POST">
<!--                    <label class='folderBtn'></label>-->
                        <input type="hidden" name="action" value="parent_folder">
                        <input type="hidden" name="current_folder_id" value="{{current_folder.id}}">
                        <button type="submit" class="folder-btn">📁...</button>
                    </form>
<!--                </span>-->

                    <form method="POST" id="folderForm">
                            <input type="hidden" name="folder_name" value="">
                            <input type="hidden" name="current_folder_id" value="{{current_folder.id}}">
                            <input type="hidden" name="user_id" value="{{current_folder.owner_id}}">
                            <select name="action" class="section-select">
                                <option value="upload">上传文件</option>
                                <option value="new_folder">新建文件夹</option>
                            </select>
                            <input type="submit" value="确定">
                    </form>

                </li>

<!--                <li id="item-list">-->

<!--                    <ul class='filelist'>-->
                {% for folder in sub_folders %}

                <li class='folder-item'>
                    <span class='file-icon'>
                        <form method='POST' style='border: none; display: inline-block;'>
                            <input type='hidden' name='action' value='subfolder'>
                            <input type='hidden' name='folder_id' value='{{folder.id}}'>
                            <input type='hidden' name='user_id' value='{{folder.author_id}}'>

                            <button type='submit' class='folder-btn' style="">📁{{folder.name}}</button>
                        </form>
                    </span>
                </li>

                {% endfor %}
<!--                    </ul>-->


<!--                    <ul class='filelist'>-->
                    {% for file in files %}

                        <li class='file-item'>
                            <span class='file-icon'>
                                📄
                                <span class='file'>

                                    <div class="file-name" data-file-id={{cnt}}>{{file.name}}</div>

                                    <div class="popup" id="popup-{{cnt}}">
                                        <p>Filename: {{file.name}}</p>
                                        <p>downloads: {{file.download_count}}</p>

                                    </div>


                                    <form method='POST' style='display: inline-block;'>
                                        <input type='hidden' name='action' value='download'>
                                        <input type='hidden' name='file_id' value='{{file.id}}'>
                                        <button type='submit' class='delete-btn'>🔗</button>
                                    </form>
                                    {% if current_user.is_admin or current_user.id==file.owner_id %}

                                    <form method='POST' action='/file/delete/' style='display: inline-block;'>
                                        <input type='hidden' name='file_id' value='{{file.id}}'>
                                        <input type='hidden' name='user_id' value='{{file.owner_id}}'>
                                        <button type='submit' class='delete-btn'>🗑️</button>
                                    </form>
                                    {% endif %}

                                </span>
                            </span>
                        </li>
                        {% endfor %}
<!--                    </ul>-->

<!--                </li>-->
            </ul>

            <br>

        </div>

    </div>


<!--    {{script |safe}}-->
<!--    <script src="{{ url_for('static', filename='file_modal.js') }}"></script>-->
<script>
    document.getElementById('folderForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 阻止表单默认提交行为

        const form = event.target;
        const action = form.action.value;

        if (action === 'upload') {

            form.submit(); // 提交表单
        }else if (action === 'new_folder') {
            const newName = prompt('请输入新的文件夹名称:');
            if (newName) {
                form.folder_name.value = newName;
                form.submit(); // 提交表单
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
            const fileNames = document.querySelectorAll('.file-name'); // 选择器
            fileNames.forEach(fileName => {
                fileName.addEventListener('mouseover', function() {
                    const fileId = fileName.getAttribute('data-file-id');
                    const popup = document.getElementById(`popup-${fileId}`);
                    popup.style.display = 'block';
                    const rect = fileName.getBoundingClientRect();
                    popup.style.left = `${rect.left+130}px`;
                    popup.style.top = `${rect.bottom-130}px`;
                });

                fileName.addEventListener('mouseout', function() {
                    const fileId = fileName.getAttribute('data-file-id');
                    const popup = document.getElementById(`popup-${fileId}`);
                    popup.style.display = 'none';
                });
            });
        });
</script>

</body>
{% endblock %}

